* {
  box-sizing: border-box;
}

::selection {
  background: var(--brand-color);
  color: white;
}

body {
  background: var(--brand-color);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

a {
  color: var(--brand-color);
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 36px;
  font-weight: normal;
}

.site-footer {
  padding: 40px 20px;
  overflow: hidden;

  a {
    color: white;
    text-decoration: none;
  }
}

p.whisper {
  max-width: 375px;
  margin: 30px 0;
  font-style: italic;
  font-size: 1.4rem;
  padding-left: 20px;
}
