a.button,
button {
  padding: 0.6em 1.1em;
  text-decoration: none;
  background: var(--brand-color);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  border: 0;
  font-size: 18px;
  white-space: nowrap;
  display: inline-block;

  &:active {
    outline: 0;
  }
}

.btngroup {
  display: flex;
  margin: 10px 0 15px;
  flex-wrap: wrap;

  &__btn {
    color: var(--primary-text-color);
    background-color: #f2f2f2;
    padding: 10px 24px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0;
    border: 1px solid #ccc;
    margin-left: -1px;
    line-height: normal;

    @media screen and (max-width: 500px) {
      width: 33.5%;

      &:nth-last-of-type(2) {
        border-radius: 0 4px 4px 0;
      }
    }

    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }

    &:last-of-type {
      border-radius: 0 4px 4px 0;
      @media screen and (max-width: 500px) {
        width: 100%;
        border-radius: 4px;
        margin-top: 10px;
      }
    }

    &--active,
    &:hover {
      background-color: var(--brand-color);
      border-color: var(--brand-color);
      color: #fff;
      border-width: 1px;
    }
  }
}
