$columns-breakpoint: 850px;

.wrap {
  max-width: 1130px;
  margin: 0 auto;
}

.panel {
  background-color: white;
  border-radius: 10px;
  padding: 40px;
}

.columns {
  display: flex;

  @media(max-width: $columns-breakpoint) {
    display: block;
  }
}

.content {
  flex: 1;
  padding: 20px 40px 60px;
  display: flex;
  flex-direction: column;
}

.signin-link {
  text-align: center;
  font-weight: bold;
  padding: 80px 0;
}

.sidebar {
  width: 400px;
  margin-left: 20px;
  padding: 20px 40px 60px;

  h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
  }

  .funding-goal__ratio {
    margin-top: 10px;
  }

  .about {
    margin: 60px 0;
    line-height: 1.5;
  }

  @media(max-width: $columns-breakpoint) {
    margin: 0;
    width: auto;
    margin-top: 20px;
  }
}
