.dollarfield {
  display: flex;
  align-items: center;
  margin: 15px 0;

  &__symbol {
    font-size: 40px;
    display: block;
    line-height: normal;
    margin-right: 6px;
    transform: translateY(-4px);
  }
}

input.dollarfield {
  &__price {
    font-size: 60px;
    background: transparent;
    border: 0;
    margin: 0;
    color: var(--primary-text-color);
    appearance: textfield;
    height: auto;
    line-height: auto;
    overflow: hidden;
    width: 100%;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus,
    &:active,
    &:focus-within {
      border: 0;
      outline: none;
    }

    &:invalid {
      border: 0;
      box-shadow: none;
    }
  }
}

.payform {
  &__btn {
    font-size: 20px;
    margin-top: 20px;
  }

  p.whisper {
    opacity: 0.8;
    font-style: italic;
    font-size: 16px;
    margin-top: 40px;
    padding: 0;
  }
}

.input-with-label {
  margin: 20px 0;
}
