.progress-bar {
  width: 100%;
  border-radius: 999px;
  background: #f2f2f2;
  overflow: hidden;
  border: 1px solid #b3b3b3;
  padding: 2px;

  &__progress {
    height: 10px;
    border-radius: 999px;
    background: var(--brand-color);
  }
}
