.site-header {
  color: white;
  padding: 40px 10px;
  display: flex;
  align-items: center;

  a.button,
  button {
    border: 3px solid white;
    font-size: 20px;
  }

  &__actions {
    margin-left: auto;
    display: flex;
    align-items: center;

    a.button {
      margin-left: 20px;
    }
  }

  &__avatar {
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 99999px;
    border-radius: 4px solid white;
  }
}

.logo-area {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;

  h1 {
    font-size: 50px;
    margin: 0;
  }
}

.logo {
  width: 110px;
  height: 110px;
  border-radius: 9999px;
  border: 6px solid white;
  background: var(--brand-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
