.sub {
  border: 1px solid hsla(0, 0%, 0%, 0.5);
  padding: 20px;
  position: relative;
  border-radius: 10px;

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 4px;
  }

  &__amount {
    font-size: 2rem;
    line-height: normal;
    margin: 4px 0 12px;
  }

  &__billing {
    font-size: 14px;
  }

  &__button {
    margin-top: 20px;
    display: inline-block;
  }

  /* Status indicator */
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    right: 13px;
    border-radius: 100%;
    background-color: transparent;
    height: 13px;
    width: 13px;
  }

  &--trialing,
  &--active {
    &::before {
      background-color: #00ff00;
    }
  }

  &--cancelling::before {
    background-color: #ffff00;
  }

  &--incomplete,
  &--incomplete_expired,
  &--past_due,
  &--canceled,
  &--unpaid {
    &::before {
      background-color: #ff0000;
    }
  }
}

.subs {
  .sub {
    border-radius: 0;

    & + .sub {
      border-top: 0;
    }

    &:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}
