<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="stripe-pk" content="<%= Application.get_env(:patron, :stripe_public_key) %>">
    <%= csrf_meta_tag() %>
    <title><%= Application.get_env(:patron, :brand_name) %> Patron</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
    <script src="https://js.stripe.com/v3/"></script>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <style type="text/css">
      :root {
        --brand-color: <%= Application.get_env(:patron, :brand_color) %>;
        --primary-text-color: #000000;
      }
    </style>
  </head>
  <body>
    <header class="site-header wrap">
      <a class="logo-area" href="/">
        <div class="logo">
          <img src="<%= Application.get_env(:patron, :brand_logo) %>">
        </div>
        <div class="title">
          <h1>Donate</h1>
          <div class="subtitle">Become a patron of <%= Application.get_env(:patron, :brand_name) %></div>
        </div>
      </a>
      <div class="site-header__actions">
        <%= if has_user(@conn) do %>
          <div class="site-header__avatar" style="background-image: url('<%= user_data(@conn, [:avatar]) %>')"></div>
          <a class="button" href="/auth/logout">Log out</a>
        <% else %>
          <a class="button" href="/auth/fediverse">Sign in</a>
        <% end %>
      </div>
    </header>
    <main role="main" class="container">
      <%= @inner_content %>
    </main>
    <footer class="site-footer wrap">
      <a href="<%= Application.get_env(:patron, :homeserver_baseurl) %>" target="_blank">
        <%= Application.get_env(:patron, :brand_name) %>
        <i class="fa fa-external-link"></i>
      </a>
    </footer>
  </body>
</html>
