<%= render_layout PatronWeb.LayoutView, "app.html", assigns do %>
  <div class="columns wrap">
    <div class="panel content">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </div>
    <div class="panel sidebar">
      <h3>Funding Goal</h3>
      <%= with %{amount: amount, currency: currency} <- Patron.Funding.get_funding(),
               goal = Application.get_env(:patron, :goal_amount) do %>
        <div class="progress-bar">
          <div class="progress-bar__progress" style="width: <%= min(amount / goal * 100, 100) %>%;"></div>
        </div>
        <div class="funding-goal__ratio">
          <strong>
            <%= CurrencyFormatter.format(amount, currency) %>
            out of
            <%= CurrencyFormatter.format(goal, currency) %>
          </strong> per month
        </div>
      <% end %>
      <div class="about">
        <p>Thank you for your interest in supporting us! By becoming a patron of <%= Application.get_env(:patron, :brand_name) %> you will fund our operating expenses and help keep us an independent platform.</p>
      </div>
    </div>
  </div>
<% end %>
