<h2>Cancel plan</h2>

<form action="/plan/<%= @sub.id %>/cancel" accept-charset="UTF-8" method="post">
  <input type="hidden" name="_csrf_token" value="<%= @csrf_token %>">
  <div class="sub">
    <div class="sub__title">Cancelling Plan</div>
    <div class="sub__amount">
      <%= CurrencyFormatter.format(@sub.quantity, :usd, keep_decimals: true) %>/mo
    </div>
    <!-- <div class="sub__billing">
      <i aria-hidden="true" class="fa fa-credit-card"></i> *4242
    </div> -->
  </div>
  <div class="input-with-label">
    <input type="checkbox" name="refund" id="refund_checkbox">
    <label for="refund_checkbox">Refund my last payment.</label>
  </div>
  <div class="actions">
    <button class="button" type="submit">
      <i aria-hidden="true" class="fa fa-warning"></i> Cancel plan
    </button>
  </div>
</form>
