<h2>Edit plan</h2>

<form action="/plan/<%= @sub.id %>/edit" accept-charset="UTF-8" method="post">
  <input type="hidden" name="_csrf_token" value="<%= @csrf_token %>">
  <div class="dollarfield">
    <span class="dollarfield__symbol">
      <%= CurrencyFormatter.symbol(:usd) %>
    </span>
    <input autocomplete="off" class="dollarfield__price" min="0.50" name="amount" pattern="[0-9,.]+" placeholder="0.00" required="true" step="0.01" type="number" value="<%= :erlang.float_to_binary(@sub.quantity / 100, [decimals: 2]) %>">
  </div>
  <div>
    <!-- <i aria-hidden="true" class="fa fa-credit-card"></i> *4242 -->
  </div>
  <p class="whisper">
    Your card will be charged on <%= DateTime.from_unix!(@sub.current_period_end) |> Timex.format!("%b %e, %Y", :strftime) %>.
    <br><br>
    If you need to change the payment method, please <a href="/plan/<%= @sub.id %>/cancel">cancel the plan</a> (tick "refund") and start over.
  </p>
  <button class="button" type="submit">
    <i aria-hidden="true" class="fa fa-check"></i> Update plan
  </button>
</form>
