<%= if has_user(@conn) do %>
  <h2>Donate how much?</h2>
  <form class="payform">
    <div class="btngroup" data-sets="#price" data-shows="#paybtn">
      <button class="btngroup__btn" data-value="5.00" type="button">$5</button>
      <button class="btngroup__btn" data-value="10.00" type="button">$10</button>
      <button class="btngroup__btn" data-value="20.00" type="button">$20</button>
      <button class="btngroup__btn" data-focuses="#price" data-hides=".btnlabel" data-shows="#pricewrap" data-value="" type="button">Custom</button>
    </div>
    <div id="pricewrap" style="display: none;">
      <div class="dollarfield">
        <span class="dollarfield__symbol">$</span>
        <input autocomplete="off" class="dollarfield__price" id="price" min="0.50" pattern="[0-9,.]+" placeholder="0.00" required="true" step="0.01" type="number" value="5.00" />
      </div>
    </div>
    <div class="actions" id="paybtn" style="display: none;">
      <button class="payform__btn button" type="submit">
        <i aria-hidden="true" class="fa fa-check"></i>
        Continue to payment
      </button>
    </div>
    <p class="whisper">Your payment is processed securely using Stripe and can be changed at any time.</p>
  </form>
<% else %>
  <div class="signin-link">
    To make a donation, please <a href="/auth/fediverse">sign in.</a>
  </div>
<% end %>
