<div class="sub sub--active">
  <div class="sub__title">Plan</div>
  <div class="sub__amount">
    <%= CurrencyFormatter.format(@sub.quantity, :usd, keep_decimals: true) %>/mo
  </div>
  <div class="sub__billing">
    <%= "Next charge: #{DateTime.from_unix!(@sub.current_period_end) |> Timex.format!("%b %e, %Y", :strftime)}" %>
  </div>
  <a class="sub__button button button--small" href="/plan/<%= @sub.id %>/edit">
    <i aria-hidden="true" class="fa fa-edit"></i> Edit plan
  </a>
  <a class="sub__button button button--small" href="/plan/<%= @sub.id %>/cancel">
    <i aria-hidden="true" class="fa fa-ban"></i> Cancel plan
  </a>
</div>
